/* BE.css */ 

/* --------------- Global Reset ---------- */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: white;
    color: #222;
    line-height: 1.5;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header{
border-bottom: 1px solid  #e69d0b;
}

.header-top {
    background-color: white;
    padding: 15px 0; /*space around logo */
    text-align: center; /*centers logo*/
}

/*.header-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../metallic-gold-paper-background_53876-71349.avif");
    opacity: 0.2;
    pointer-events: none;
}/*
/* ------------ Navigation Bar ------------ */
nav {
    max-width: 1000vh;
    background-color: #000;
    border-bottom: 1px solid rgb(74, 74, 74);
    box-shadow: 0 2px 4px #e69d0b;
    padding: 10px;
    position: relative;
    z-index: 10;
}
/*navigation drop down */

.nav-item.has-dropdown {
    position: relative;
}

.nav-item.has-dropdown .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    z-index: 1000;
    box-shadow: 0 4px 12px #000;
    text-align: center;
}

.nav-item.has-dropdown .dropdown li a {
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.nav-item.has-dropdown:hover .dropdown {
    display:block;
}

.nav-item.has-dropdown .dropdown li a:hover {
    background:  #e69d0b;
    color: white;
}

/* top level nav */
.nav-list {
    position: relative;
    list-style: none;
    align-items: center;
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 175px; /* makes the logo smaller*/
    height: auto;
}

/* Main nav links */
.nav-item > a {
    text-decoration: none;
    color: #f0ead6;
    font-weight: 700;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.nav-item > a:hover {
    color: #0A5f8a;
}

.logo {
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-top: 0;
    display: block;
    max-width: 100%;
    top: -25%;
    right: 0.5%;
    transform: scale(0.9);
}

/*video*/
.hero-container {
    display: flex;
    width: 100%;
    max-width: 1000vh;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    transform: translateY(-90px);
    z-index: 1;
}

#heroVideo {
    position: absolute;
    top: 40%;
    left: 0;
    max-width: 80%;
    height: 80%;
    object-fit: contain;
}
/*event-information */
.eventinfo {
    position:relative;
    margin-top: -6vw;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
 .eventinfo h1 {
    font-size: 3em;
    font-weight: bold;
    color: black;
    /*text-shadow: 2px 2px 5px rgb(205, 131, 65);*/
    text-align: center;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    transform: translateY(-90px);
 }

 .eventinfo h1::after {
    content: "";
    display: block;
    width: 1000px;
    height: 4px;
    margin: 5px auto 0 auto;
    background: rgba(195, 137, 13, 0.862);
    border-radius: 2px;


 }

/*-----GREETINGS----*/
 .container {
    width: 70%;
    margin: 0 auto;
    margin-top: -10vw;
    align-items: center;
    padding: 15px;
    transform: scale(0.7);
    background-color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }
.overview {
    padding: 20px 20px;
}

.begin h3 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
}

.overview .description {
    margin-bottom: 30px;
}

.description p {
    line-height: 1.6;
    color: white;
    text-align: center;
}

.ending p {
    text-align: center;
    color: white;
    font-family: 'Style Script';
    font-weight: 800;
    transform: translateY(-20%);
    font-size: 45px;
}

a {
    color: rgb(205, 131, 65);  /*Links in gold to match the theme*/
}

/*-----gallery of events----*/

.event-gallery {
    width:100%;
    max-width: 2300px;
    padding: 10px 0;
    margin: 0 auto;
    align-items: center;
    background-color:  #000 ;
}

.container-title {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.container-title::after {
    content: "";
    display: block;
    width: 120px;
    height: 4px;
    margin: 5px auto 0 auto;
    background: rgba(195, 137, 13, 0.862);
    border-radius: 2px;
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 220px;
}

.row:first-child .event {
    flex: 1 1 calc(25% - 7.5px);
}

.row:last-child .events {
    flex: 1 1 calc(33.33% - 6.66px);
}

.event img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 8px;
}

.caption h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
    color: white;
    text-align: center;
}


.event img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


/* List of Award Winners with Filters */

.award-winners {
    width:100%;
    background-color: white;
    padding: 60px 20px;
    text-align: center;
}

.award-winners h2 {
    color: rgba(195, 137, 13, 0.862);
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.winner-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center !important;
    gap: 40px;
}


.winner-card:nth-child(1) { grid-column: 1;}
.winner-card:nth-child(2) { grid-column: 3;}


.winner-card:nth-child(3) { grid-column: 1;}
.winner-card:nth-child(4) { grid-column: 2;}
.winner-card:nth-child(5) { grid-column: 3;}

.winner-card:nth-child(6) {grid-column: 1;}
.winner-card:nth-child(7) {grid-column: 3;}

.winner {
    color: #000;
    font-size: 1rem;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.winner-card h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.winner-card h3::after {
        content: "";
        display: block;
        width: 90px;
        height: 2px;
        margin: 5px auto 0 auto;
        background: rgba(195, 137, 13, 0.862);
        border-radius: 2px;
    }
    
/* nomination button */

.nominate-button {
    margin-top: 50px;
    text-align: center;
}

.nominate-button a {
    display: inline-block;
    background-color: rgba(195, 137, 13, 0.862);
    color: #000;
    padding: 15px 60px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nominate-button a:hover {
    background-color: #e0b800;
    transform: scale(2);
}
/*--VOTING--*/

.voting {
    background-color: #000;
    padding: 20px;
}

.info {
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
}

.info h3 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(195, 137, 13, 0.862);
    text-align: center;
}

.info h2 {
    font-size: 2rem;
    font-weight: 800;
    color: rgba(195, 137, 13, 0.862);
    text-align: center;
}

.info p {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(195, 137, 13, 0.862);
    text-align: center;
}

.voting-button {
    margin-top: 50px;
   text-align: center;
}

.voting-button a {
    display: inline-block;
    background-color: rgba(195, 137, 13, 0.862);
    color: #000;
    padding: 15px 60px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.voting-button a:hover {
    background-color: #e0b800;
    transform: scale(2);
}
